body {
  margin: 0;
  height: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}