.cover-art {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.cover-art.empty {
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playback {
    width: 82%;
}

.playback-input {
    width: 100%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.track-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: center;
}
